/* Autor: Carlos Fernández */

body {
    color: white;
    background: url("../img/tartan.png");

}

/* html {
    background: url("../img/fuego-1f525.svg") right repeat-y, url("../img/tartan.png");
  } */

  html {
      background-color: #f6f6f6;
  }

h1 { 
    color: yellow; 
    background-color: blue; 
} 

p { 
    color: blue; 
    background-color: lightcoral; 
} 

img.izquierda {
    float: left;
  }

img.derecha {
    float: right;
  }
